.form__content label {
  width: 150px;
  text-align: left;
  font-weight: bold;
}

.form__content input {
  width: 100%;
  padding: 4px 12px;
  border: none;
  background-color: #f1f1f1;
}

.form__content div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 12px 0;
}

.form__btn {
  display: flex;
  justify-content: center;
}

.form__btn button {
  width: 200px;
  padding: 5px 0;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #4caf50;
}
